<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map_canvas { height: 100% }
    </style>
    <script type="text/javascript"
      src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBHJss7PcRCF6LetuPMWBIgtok-NITCrMM&sensor=false">
    </script>
    <script type="text/javascript">
    var geocoder;
    var map;
    function initialize() {
      geocoder = new google.maps.Geocoder();
      var latlng = new google.maps.LatLng(50.10257, 14.47886);
      var mapOptions = {
        zoom: 8,
        center: latlng,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      }
      map = new google.maps.Map(document.getElementById('map_canvas'), mapOptions);
	  
      {% for beacon_item in beacon_dict.items() %}
      	displayMarker({{ beacon_item[1].latitude }},{{ beacon_item[1].longitude }});
      	{% if loop.first %}
      	{% else %}
      		displayLine({{last_latitude}},{{last_longitude}},{{ beacon_item[1].latitude }},{{ beacon_item[1].longitude }});
      	{% endif %}
      	{% set last_longitude = beacon_item[1].longitude %}
      	{% set last_latitude = beacon_item[1].latitude %}
      {% endfor %}
    }

    function displayLine(startla,startlo,endla,endlo){
    	 
    	 var lineCoordinates = [
                                new google.maps.LatLng(startla,startlo),
                                new google.maps.LatLng(endla,endlo)
                              ];

         var lineSymbol = {
           path: google.maps.SymbolPath.FORWARD_CLOSED_ARROW
         };

         var line = new google.maps.Polyline({
           path: lineCoordinates,
           icons: [{
             icon: lineSymbol,
             offset: '100%'
           }],
           map: map
         });
    }
    function displayMarker(la,lo) {
        var marker = new google.maps.Marker({
            map: map,
            position: new google.maps.LatLng(la,lo)
        });
    
  	}
    </script>
  </head>
  <body onload="initialize()">
    <div id="map_canvas" style="width:100%; height:100%"></div>
  </body>
</html>